body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  width: 100%;
  color: #333;
  font-size: 4rem;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

div {
  margin-bottom: 20px;
}

.react-calendar {
  background-color: #b5d0d2;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile {
  transition: all 0.3s ease;
}

.react-calendar__tile:hover {
  background-color: #a6c1ee;
  color: #545050;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

input {
  padding: 12px;
  width: 70%;
  font-size: 1rem;
  border-radius: 6px;
  border: 2px solid #ccc;
  outline: none;
  transition: border 0.3s ease;
}

input:focus {
  border-color: #a6c1ee;
  box-shadow: 0 0 5px rgba(166, 193, 238, 0.7);
}

button {
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  background-color: #a6c1ee;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

button:hover {
  background-color: #4f3ca2;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
}

.entry {
  background: linear-gradient(135deg, #fff, #f4f4f9);
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.entry:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.entry p {
  margin: 5px 0;
  color: #232121;
}

.entry .sentiment {
  font-weight: bold;
  color: #524e4e;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #1e964a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #26b13b;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
}

@media (max-width: 600px) {
  input {
    width: 100%;
  }

  .entry {
    margin: 10px 0;
    padding: 10px;
  }

  .react-calendar {
    max-width: 90%;
  }

  h1 {
    font-size: 1.5rem;
  }
}
